<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Dialog9">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
					<bitmap>C:\Users\asus\Desktop\res\6.png</bitmap>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>                          校体育馆&#x0A;&#x0A;一、简介&#x0A;&#x0A;化大校体育馆是极其高规格的体育馆，内设篮球馆，&#x0A;网球馆等场馆，篮球馆场地为NBA规格，耗资巨大，&#x0A;是化大新校区的亮点之一。&#x0A;&#x0A;二、职能&#x0A;&#x0A;供日常体育课，校队训练，打比赛，以及开各种大&#x0A;型晚会</label>
					<fg>#FF0000</fg>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
